@page "/counter"
<PageTitle>Counter</PageTitle>

<div class="flex flex-col w-full h-screen items-center justify-center gap-y-10">
    <h1>Counter</h1>

    <Gamzor.Wasm.Components.Counter @rendermode="InteractiveWebAssembly" />
</div>
